@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", serif;
    font-size: 16px;
}
.banner{
    background-color: #c74a6521;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    /* padding: 0 20px; */
    width: auto;
    height: auto;
   
}
.banner-img img{
    width: 100%;
    height: 100%;
    padding-top: 50px; 
}
.banner-description{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.banner-description h1{
    color: #272727;
    font-weight: 900;
    font-size: 5em;
}
.banner-description p{
    font-size: 1.2em;
    line-height: 30px;
    color: rgba(39, 39, 39, 60%);
}
.banner-description .shop{
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    color: #FFFF;
    font-weight: 500;
    cursor: pointer;
}
.banner-description .shop:hover{
background-color: #272727;
}

/* made responsive for mobile */
@media  screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        padding: 20px 0px;
    
        gap: 50px;
    }
  .body{
    font-size: 8px;
  }
  .banner-img{
    text-align: center;
  }
  .banner-img img{
    width: 80%;
    height: 80%; 
    margin-bottom: 0px;
    padding-bottom: 0;
}
}
/* made responsive for tablet */
@media  screen and (min-width: 576px) and (max-width: 992px){
    .banner{
        flex-direction: column;
        padding: 20px;
        gap: 50px;
    }
}


/* Feature section */
.feature{
    display: flex;
    gap: 48px;
    flex-direction: column;
    margin: 120px auto;
    width: 70%;
    
}
.feature-text{
    text-align: center;
}
.feature-pic{
    display: flex;
    text-align: center;
    margin: auto;
    gap: 15px;
    
}
.feature-pic a{
    color: black;
    font-weight: 600;
    font-size: 0.9em;
}
.feature h2{
    font-size: 1.8em;
    font-weight: 900;
     color: #272727;
     margin-bottom: 24px;
}
.feature p{
    color: rgba(39, 39, 39, 60%);
    font-size: 1.1em;
    line-height: 20px;

} 
.flower{
    height: 85%;
    width: 100%;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 28px;
}


.flower img{
padding: 50px 50px 0px 50px;
height: 100%;
width: 20vw;

}
.green{
   background-color: rgba(5, 151, 160, 15%);
}
.yellow{
    background-color: rgba(71, 125, 17, 15%);
}
.pink{
    background-color: rgba(167,33 , 98, 15%);
}

@media screen and (max-width: 576px){
    .feature-pic{
        flex-direction: column;
    
    }
    .flower{
        width: 180px;
        height: 230px;
    }
    .flower img{
        padding: 30px 30px 0 30px;
        height: 100%;
        width: 100%;
    }
}



@media screen and (min-width: 576px) and (max-width: 992px){
    .feature h2{
        line-height: 30px;
    }
    .feature-pic{
        flex-direction: column;
    }
    .flower{
        width: 300px;
        height: 330px;
    
    }
    .flower img{
        padding: 50px 50px 0 50px;
        height: 100%;
        width: 100%;
    }
}


/* delivery section */
.delivery{
    background-color: #bee49d23;
    width: 63%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 100px;
    margin-bottom: 125px;
    text-align: center;
}
.delivery p{
    margin-top: 24px;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 24px;
    color: rgba(39, 39, 39, 80%);
}
@media screen and (max-width: 576px){
    .delivery{
        flex-direction: column;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .delivery{
        flex-direction: column;
    }
}